@media screen and (min-width: 768px) {
    #menuToggle {
        display: none;
    }

    nav ul {
        display: flex;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
